/* Estilos para el formulario */
form {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="date"],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  input[type="radio"] {
    display: inline-block;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0066cc;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0052a3;
  }
  label [for="edad"] {
    color: red ;
  }
  
  /* Estilos para la casilla de verificación */
  label input[type="checkbox"] {
    margin-right: 5px;
  }
  
  label a {
    color: #0066cc;
  }
  
  label a:hover {
    text-decoration: underline;
  }

  /* Estilo para el selector de etiqueta */
select {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    /* Asigna al cuerpo del html body un margen a todos los lados de 20px y tipo de fuente Verdana*/
  }
  body {
    margin: 20px;
    font-family: verdana ;
  }
  /*Crea un selector de input cuyo atributo name sea email y asignarle el color de fondo #eeeeee*/
  input [name="correo"] {
    background-color: #eeee ;
  }
  /* Asigna la fuente Tahoma a todos los párrafos y label con un selector multiple p, label{...}*/
  p,label {
    font-family: tahoma;
  } 
